﻿<%@ Page Language="C#" MasterPageFile="~/admin/mst_admin.master" AutoEventWireup="true" CodeFile="admin2113.aspx.cs" Inherits="admin2113" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" Runat="Server">
<title>.:: Admin Panel || Lifeforce BD ::.</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphheader1" Runat="Server">
Main Admin Panel
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphbody" Runat="Server">
 <asp:Panel ID="Panel2" runat="server">
   <table cellspacing="10px" width="100%">
   <tr>
   <td>Subject:</td>
   <td>
       <asp:TextBox ID="txtsub" runat="server"></asp:TextBox></td></tr>
       <tr>
       <td>Notice</td>
       <td>
          <asp:TextBox ID="txtmsg" TextMode="MultiLine" Rows="5" Columns="10" Width="100%" runat="server"></asp:TextBox></td>
   
           <tr><td>Type</td>
           <td>
               <asp:DropDownList ID="ddltype" runat="server">
               <asp:ListItem>Notice</asp:ListItem>
               <asp:ListItem>Event</asp:ListItem>
               </asp:DropDownList>
           </td></tr>
           <tr><td></td><td>
               <asp:Button ID="Button1" CssClass="button" runat="server" Text="Submit" OnClick="subnoti"/></td></tr>
   </table>
    </asp:Panel>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphright" Runat="Server">

</asp:Content>
