
.coin-slider { overflow:hidden; zoom:1; position:relative;}
.coin-slider a{ text-decoration:none; outline:none; border:none;}

.cs-buttons { margin:-42px 0 0; padding:10px; font-size:0px; float:left;}
.cs-buttons a { margin-left:2px; width:20px; height:20px; float:left; background:url(images/slide_p.png) no-repeat left top; color:#fff; text-indent:-1000px;}
.cs-buttons a.cs-active { background:url(images/slide_a.png) no-repeat left top; color:#fff;}

.cs-title { float:left; width:460px; height:175px; margin-bottom:45px; padding:40px 0 0 20px; background:none;}
.cs-title big { display:block; padding:0 0 16px; font-size:30px; line-height:1.8em; color:#fff;}
.cs-title small { font-size:14px; line-height:1.8em; color:#bae1ff;}

.cs-prev, 
.cs-next { padding:0px 10px; background:url(images/overlay.png) repeat left top; color:#fff; z-index:1001;}
