﻿<%@ Page Language="C#" MasterPageFile="~/admin/mst_admin.master" AutoEventWireup="true" CodeFile="gen_code.aspx.cs" Inherits="gen_code" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" Runat="Server">
<title>.:: Generate Codes || Lifeforce BD ::.</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphheader1" Runat="Server">
Generate Pin Codes 
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphbody" Runat="Server">

    <table class="table_class">
 
    
    <tr><td>
        Enter Amount</td><td>
        <asp:DropDownList ID="DDLamout" runat="server" Width="100px">
            <asp:ListItem>5,000 Tk</asp:ListItem>
            <asp:ListItem>10,000 Tk</asp:ListItem>
            <asp:ListItem>Networking</asp:ListItem>
        </asp:DropDownList></td></tr>

        <tr>
            <td>
                Quantity</td><td><asp:TextBox ID="txtquantity" runat="server" Text="1" Width="100px"></asp:TextBox></td>
        
        </tr>
        <tr><td colspan="2" align="right">
            <asp:Button ID="but_gen" runat="server" CssClass="button" Text="Generate E-Card" OnClick="gen_ecard"  /></td></tr>
        </table>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphright" Runat="Server">
<asp:Panel ID="Ecard_Info" CssClass="panel_main" runat="server" GroupingText="Ecard Information" Width="100%">
<table>
<tr>
<td>Total Ecard generated this month:</td><td>
    <asp:Label ID="lbltotepin" runat="server" Text=""></asp:Label></td>
</tr>
<tr>
<td>Total Ecard generated by admin this month:</td><td>
    <asp:Label ID="lbltotepin_admin" runat="server" Text=""></asp:Label></td>
</tr>
<tr>
<td>Total used Ecards:</td><td>
    <asp:Label ID="lblused" runat="server" Text=""></asp:Label></td>
</tr>
<tr>
<td>Total amount (in notes) generated:</td><td><asp:Label ID="lblamount_used" runat="server" Text="">
    </asp:Label></td>
</tr>
<tr>
<td>Total amount (in notes) used:</td><td>
    <asp:Label ID="lblamount_gen" runat="server" Text=""></asp:Label></td>
</tr>
</table>
<br />


</asp:Panel>
</asp:Content>
