﻿ .wrapper
{
    padding: 100px 100px 100px 20%;
    line-height: 50px;
}
.button
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/buttons/greenBGbtn.png") repeat-x scroll center top #8CBF00;
    border-color: #C9EB6C #7FB100 #567B00 #9EC536;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    padding: 3px 10px;
    text-shadow: 0 -1px 0 #829846;
    font-size: 18px;
    font-weight: bold;
}
.button:hover
{
    
    font-weight: bold;
    font-size: 18px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #8CBF00 url('images/buttons/greenBGbtnHov.png') repeat-x scroll center top;
    border-color: #CFF174 #8ABD0A #567B00 #A5CD3B;
    border-style: solid;
    border-width: 1px;
}
.button:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/buttons/greenBGbtnClick.png") repeat-x scroll center top #88B903;
    border-color: #759D06 #78A705 #517500 #829C39;
    border-style: solid;
    border-width: 1px;
}
.button[disabled] {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E0E0E0;
    color: #CCCCCC;
    cursor: default;
    text-shadow: 0 0 0 #FFFFFF;
}
.ns_bigbtn {
    background: -moz-linear-gradient(center top , #FFCD00, #EF6000) repeat scroll 0 0 transparent;
    border: 1px solid #FF9B00;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 0 #FFEBAB inset, 1px 1px 3px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    display: inline-block;
    font-family: NeoSansMedium,Arial,Sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #995E00;
    width: 250px;
}
.ns_bigbtn:hover {
    background: -moz-linear-gradient(center top , #FFDE00, #FF6600) repeat scroll 0 0 transparent;
}
.head2
{
    font-weight: bold;
    font-size: 15px;
    font-family: Arial;
    color: #FFFFFF;
}
.sidebarclass
{
    text-align: left;
    float: left;
    display: block;
    background: url(images/sidebarh2.jpg) left top repeat-y;
    width: 100%;
    font-family: 'Times New Roman' , Times, serif;
    font-size: 1.2em;
}
	.centeralign
{
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.table_class
{
   
    table-layout: auto;
    empty-cells: hide;
    border-spacing: 10px;
}
.upbutton
{
	background: #FFFFFF url(images/arrow_man1.png) no-repeat 1px 1px;
	
	
}
.panel
{
    position: fixed;
    top: 30px;
    left: 0;
    display: none;
    background: #000000;
    border: 1px solid #111111;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    width: 330px;
    height: auto;
    padding: 30px 30px 30px 160px;
    filter: alpha(opacity=85);
    opacity: .85;
}

.panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.panel a, .panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: fixed;
text-decoration: none;
top: 80px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.trigger:hover{
position: fixed;
text-decoration: none;
top: 80px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(images/plus.png) 85% 55% no-repeat;
border:1px solid #444444;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(images/minus.png) 85% 55% no-repeat;
}

.panel_main
{
    font-family: arial,helvetica,tahoma,verdana,sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    -moz-border-radius: 10px;
    color:#797979; 
    -webkit-border-radius: 10px; /*-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;*/

background: -moz-linear-gradient(top, rgba(145,148,153,0.53) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,148,153,0.53)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(145,148,153,0.53) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(145,148,153,0.53) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(145,148,153,0.53) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(top, rgba(145,148,153,0.53) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87919499', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}
.image_contact
{
    height:40px;
    width:40px;
    }