﻿<%@ Page Language="C#"  AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" %>
    <html>
<head runat="server">
<title>Eclicksense.com</title>
<meta name="google-site-verification" content="sZ3MKjUWp-6mQmb2KXq7dRHnKzK9-S0zMO5kDfW0yrQ" />
<meta  description="One platform to earm money in clicks"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/droid_sans_400-droid_sans_700.font.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<form id="form3" runat="server">

<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu">
        <ul>
          <li><a href="Default.aspx" class="active"><span>Home</span></a></li>
          <li><a href="login.aspx"><span>Login</span></a></li>
          <li><a href="#"><span> Contact Us </span></a></li>
          <li><a href="New_registration.aspx"><span> Registration</span></a></li>
        </ul>
      </div>
      <div class="search">
        
      </div>
      <div class="clr"></div>
      <div class="logo"><h1><a href="Default.aspx"><span>Eclick</span>Sense<br /><small>Work faster. Costs less. And never breaks</small></a></h1></div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="left"> <img src="images/img_1.jpg" alt="img" width="218" height="210" />
        <h2>Financial <span>Freedom</span></h2>
        <p>Earn financial freedom by working at home in one pc with internet in multiple platforms</p>
        <div class="bg"></div>
        <img src="images/img_2.jpg" alt="img" width="218" height="210" />
        <h2>View <span>advertisement</span></h2>
        <p><span>View advertisements of different products and evaluate them for dollars</span><br />
          Earn everyday and become self-sufficient on the internet. There is no skill needed except basic computer skills</p>
        <div class="bg"></div>
        <img src="images/img_3.jpg" alt="img" width="218" height="210" />
        <h2>Become a <span>sponsor</span></h2>
        <p><span>Become a member and join more to become successfull in real life</span><br />
          Increase your networka dn get benefitted in each way in this platform. Watch your financial growth as you work harder along the way of your prosperity </p>
       
        <div class="bg"></div>
      </div>
      <div class="right">
        <h2>Sidebar<span> Menu</span></h2>
        <ul>
          <li><a href="Default.aspx"> Home</a></li>
          <li><a href="login.aspx">Login</a></li>
          <li><a href="New_registration.aspx">Registration</a></li>
         
          <li><a href="#" title="contact us">Contact us</a></li>
        </ul>
        <p>&nbsp;</p>
        <h2><span>Sponsors</span></h2>
        <ul>
            <li class="sponsors"><a href="http://www.google.com" title="google">Google</a><br /><span>Over 6,000,000+ Advertises</span></li>
            <li class="sponsors"><a href="http://www.paypal.com" title="paypal">Paypal</a><br /><span>Payment now possible</span></li>
            <li class="sponsors"><a href="http://www.alertpay.com" title="alertpay">Alertpay</a><br /><span>Get payments through Alertpay</span></li>
        </ul>
        <p>&nbsp;</p>
      
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="FBG">
    <div class="FBG_resize">
      <div class="blok">
        <h2>About</h2>
        <img src="images/fbg_img_1.gif" alt="img" width="80" height="80" />
        <p><strong>We are the legitimate click to earn site in worldwide span </strong><br />
          The most simplistic and sophisticated system available currently to us making it much easir to users and advertisers</p>
       
      </div>
      <div class="blok">
     
      </div>
      <div class="blok">
       <div class="clr"></div>
          <h2>Job Oppurtunitues</h2>
        <p><strong>Massive workforce</strong>
        Join the had working flow of members now and get rich along with the company. You can do these jobs</p>
        <ul>
          <li><a href="#">• View Ads</a></li>
          <li><a href="#">• Become a Sponsor</a></li>
          <li><a href="#">• Data Entry(coming soon)</a></li>
        </ul>
        <ul>
          <li><a href="#">• Register new Member</a></li>
          <li><a href="#">• Withdraw Dollars</a></li>
          
          <li><a href="#">• Servey(coming soon)</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
        <p>© Copyright EclickSense Outsourcing LTD. </p>
    
      
    </div>
    <div class="clr"></div>
  </div>

</form>
</body>
</html>