﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/mst_main.master" CodeFile="forget_username_pass.aspx.cs" Inherits="forget_username_pass" %>


<asp:Content runat="server" ContentPlaceHolderID="head"><title>Forgotten Username and Password</title></asp:Content>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="cphbody">
<asp:Panel runat="server" ID="panel1">
    <h2>
        <asp:Label ID="lblmsg" runat="server" Text=""></asp:Label></h2>
    <table>
    <tr>
    <td>Your Email address: </td>
    <td>
        <asp:TextBox ID="txtemail" runat="server" MaxLength="100" ></asp:TextBox></td>
    </tr>
    <tr><td colspan="2">
        <asp:Button ID="Button2" CssClass="button" runat="server" Text="Submit" OnClick="send_pass"/></td></tr>
    </table>
    </asp:Panel>
</asp:Content>