/*
Design by TemplateAccess.com/DreamTemplate
*/

@charset "utf-8";
body { margin:0; padding:0; width:100%;  background:#19191a url(images/main_bg.gif) top repeat-x; }
html { padding:0; margin:0;}
li.bg, .bg { clear:both; border-bottom:1px dashed #818181; padding:0; margin:10px 0; background:none; list-style:none;}
p.clr, .clr { clear:both; padding:0; margin:0;}
.main { margin:0 auto; padding:0;}

/* header */
.header_resize { margin:0 auto; padding:0; width:930px;}
.header { height:399px; margin:0; padding:0; background:#c0e4e6 url(images/main_bg.jpg) top center repeat-x;}
.header img { margin:0 auto; padding:0;}
/*menu*/
.menu { padding:0; margin:0 ; width:932px;  float:left; }
.menu ul { height:75px; text-align: right;  padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:30px 0 20px 0; color:#fff; font:normal 12px Arial, Helvetica, sans-serif; text-decoration:none;}
.menu ul li a span { padding:30px 15px 20px 15px; background:none;}
.menu ul li a:hover {  background: url(images/r_menu.gif) no-repeat right;}
.menu ul li a:hover span {   background:url(images/l_menu.gif) no-repeat left;}
.menu ul li a.active {  background:url(images/r_menu.gif) no-repeat right;}
.menu ul li a.active span {   background:url(images/l_menu.gif) no-repeat left;}
/* search */
.search { padding:25px 20px 0 0; margin:0; width:260px; float:right;}
.search form { float:right; padding:0; margin:0;}
.search span { display:block; float:left; background: url(images/search_bg_1.gif) left top no-repeat; width:190px; padding:4px 5px; height:31px;}
.search form .keywords { width:149px; line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#000;}
.search form .button { float:left; margin:0; padding:0;}
/* search2 */
.search2 { padding:15px 20px 0 0; margin:0 auto; }
.search2 form { float:right; padding:0; margin:0;}
.search2 span { display:block; float:left; background: url(images/search_bg_2.gif) left top no-repeat; width:180px; padding:4px 5px; height:31px;}
.search2 form .keywords { width:149px; line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#000;}
.search2 form .button { float:left; margin:0; padding:0;}
/* logo */
.logo { margin:0 auto; padding:1px 0 0 15px;}
h1 { margin:0; padding:124px 0 24px 40px; color:#fff; font:normal 40px/1.2em Arial, Helvetica, sans-serif; text-align:center; background:url(images/logo.png) no-repeat center 52px;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { font-weight:bold;}
h1 small { font:normal 12px/1.2em Arial, Helvetica, sans-serif;}
/*body*/
.body_resize { margin:0 auto; padding:20px 0 0 0; width:930px;}
.body { background:#fff; margin:0; padding:10px 25px 40px 25px;}
.body h2 {  font: normal 30px Arial, Helvetica, sans-serif; color:#0ab3b9; padding:3px 0; margin:5px 0 10px 0; }
.body h2 span { color:#404a52;}
.body p { font: normal 12px Arial, Helvetica, sans-serif; color:#4b4b4b; padding:5px 0; margin:0; line-height:1.8em;}
.body p span { font: bold 14px Arial, Helvetica, sans-serif; color:#4b4b4b; padding:0; margin:0;}
.body img { float:right; margin:5px 5px 5px 15px; padding:0;}
.body img.floated { float:left; margin:5px 10px 5px 0; padding:0;}
.body a { color:#ea7d1b; text-decoration:underline;}
.left { float:left; width:640px; margin:0; padding:0;}
.right { float:right; width:245px; margin:0; padding:0;}
.right ul { list-style:none; margin:5px 10px; padding:0;}
.right li { font: bold 12px Arial, Helvetica, sans-serif; color:#0ab3b9;  border-bottom:1px dashed #818181; padding:5px 0;}
.right li span { font: normal 11px Arial, Helvetica, sans-serif; color:#999999;}
.right li a {  background:url(images/ul_li.gif) left no-repeat; padding:0 0 0 15px; margin:0; font: normal 14px Arial, Helvetica, sans-serif; color:#404a52; text-decoration:none;}
.right li a:hover { color:#ea7d1b; text-decoration:none; }
/* FBG */
.FBG_resize { margin:0 auto; padding:0; width:930px;}
.FBG { background: #ea7d1b url(images/fbg_bg.gif) top repeat-x; margin:0; padding:0;}
.FBG img { float:left; margin:5px; padding:0;}
.FBG h2 { color:#fff;  font: normal 30px Arial, Helvetica, sans-serif;  padding:3px 0; margin:5px 0 15px 0;}
.FBG p { color:#fff; font: normal 12px Arial, Helvetica, sans-serif;  padding:5px 0; margin:0; line-height:1.8em;}
.FBG a  { color:#fff; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif;}
.FBG ul { list-style:none; width:120px; float:left; padding:0; margin:10px 5px;}
.FBG li { padding:2px 1px; margin:0;}
.FBG li a { color:#fff; font: normal 12px Arial, Helvetica, sans-serif;  text-decoration: underline;}
.FBG li a:hover { color:#fff; text-decoration:none;}
.FBG .blok { width:280px; float:left; padding:5px 15px; margin:0;}
/* footer */
.footer_resize { margin:0 auto; padding:25px 0; width:930px;}
.footer { padding:0; margin:0 auto; background:url(images/footer_bg.gif) top repeat-x;}
.footer p { color:#fff; font: normal 12px Arial, Helvetica, sans-serif; padding:0 0 0 5px; margin:0; line-height:1.8em;}
.footer p a { color:#fff; font: normal 12px Arial, Helvetica, sans-serif;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#666; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { border:1px solid #000; background:#ea7d1b; padding:10px; margin:10px 0 0 110px;  color:#fff; float:left; font: normal 12px Arial, Helvetica, sans-serif;}
p.response { text-align:center; color:#F00; font: normal 11px Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto; }
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#ffc477;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:3px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:8px 37px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
	background-color:#fb9e25;
}.button:active {
	position:relative;
	top:1px;
}
.upbutton
{
    background: #FFFFFF url(images/arrow_man1.png) no-repeat 1px 1px;
}
#well {
	padding: 14px 20px 20px 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}
	.centeralign
{
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}
h2 {
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); 
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
  
  -moz-background-clip: text;
  -webkit-background-clip: text;
  
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  -webkit-animation: slidetounlock 5s infinite;
  
  font-size: 80px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  
  padding: 0;
  width: 200%;
  
  -webkit-text-size-adjust: none;
}
#slider
{
    background: url('images/arrow.png') no-repeat;
    width: 140px;
    height: 98px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

@-webkit-keyframes slidetounlock {
	0% {
		background-position: -720px 0;
	}
	100%{
		background-position: 720px 0;
	}
}
#pnl
{
    visibility:hidden;
    }
    
    
#example-one { background: #ea7d1b url(images/fbg_bg.gif) top repeat-x; padding: 10px; margin: 0 0 20px 0; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; }

#example-one .nav
{
    overflow: hidden;
    margin: 0 0 10px 0;
}
#example-one .nav li
{
    width: 97px;
    float: left;
    margin: 0 10px 0 0;
}
#example-one .nav li.last { margin-right: 0; }
#example-one .nav li a
{
    display: block;
    padding: 5px;
    background: #66CCFF;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 0;
}
#example-one .nav li a:hover { background-color: #111; }

#example-one ul { list-style: none;  }
#example-one ul li p { display: block; border-bottom: 1px solid #666; padding: 4px; color: #666; }
#example-one ul li p:hover { background: #fe4902; color: white; }
#example-one ul li:last-child p { border: none; }

#example-one ul li.nav-one a.current, #example-one ul.featured li a:hover { background-color: #0575f4; color: white; }
#example-one ul li.nav-two a.current, #example-one ul.core li a:hover { background-color: #d30000; color: white; }
#example-one ul li.nav-three a.current, #example-one ul.jquerytuts li a:hover { background-color: #8d01b0; color: white; }
#example-one ul li.nav-four a.current, #example-one ul.classics li a:hover { background-color: #FE4902; color: white; }

.dialog1 
{
display:block;
position:absolute;
left:0px;
top:0px;
width:100%;
height:500%;
background:gray;
filter:alpha(Opacity=70);
opacity:.7;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
.ajaximg
{
    position:absolute;
z-index:100;
    top:12.5%;
    left:50%;
    }
	.centeralign
{
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.upbutton
{
    background: #FFFFFF url(images/arrow_man1.png) no-repeat 1px 1px;
}

.close
{
    padding: 0px 3px 30px 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    background-image: url('images/x.png');
    visibility: visible;
}
myclass, a.myclass:visited {
      color: #FF0000
    }
    
     #vtab {
            margin: auto;
            width: 100%;
            height: 100%;
        }
        #vtab > ul > li {
            width: 110px;
            height: 110px;
            background-color: #fff !important;
            list-style-type: none;
            display: block;
            text-align: center;
            margin: auto;
            padding-bottom: 10px;
            border: 1px solid #fff;
            position: relative;
            border-right: none;
            opacity: .3;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
        }
        #vtab > ul > li.home
{
    background: url(images/home.png) no-repeat center center;
}
        #vtab > ul > li.login
{
    background: url('images/name.jpg') no-repeat center center;
}
        #vtab > ul > li.support
{
    background: url('images/login.png') no-repeat center center;
}
         #vtab > ul > li.email
{
    background: url('images/mail.png') no-repeat center center;
}
        #vtab > ul > li.selected {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            border: 1px solid #ddd;
            border-right: none;
            z-index: 10;
            background-color: #fafafa !important;
            position: relative;
        }
        #vtab > ul {
            float: left;
            width: 110px;
            text-align: left;
            display: block;
            margin: auto 0;
            padding: 0;
            position: relative;
            top: 30px;
        }
        #vtab > div {
            background-color: #fafafa;
            margin-left: 110px;
            border: 1px solid #ddd;
            min-height: 500px;
            padding: 12px;
            position: relative;
            z-index: 9;
            -moz-border-radius: 20px;
        }
        #vtab > div > h4 {
            color: #800;
            font-size: 1.2em;
            border-bottom: 1px dotted #800;
            padding-top: 5px;
            margin-top: 0;
        }
        #loginForm label {
            float: left;
            width: 100px;
            text-align: right;
            clear: left;
            margin-right: 15px;
        }
        #loginForm fieldset {
            border: none;
        }
        #loginForm fieldset > div {
            padding-top: 3px;
            padding-bottom: 3px;
        }
        #loginForm #login {
            margin-left: 115px;
        }
        
.GridViewRowStyle td, .GridViewAlternatingRowStyle td
{
    /* style for the td*/
}

/*
The reason I wanted to this was because the way asp.net renders the GridView, it does not look the same in all browsers. So I wanted to skin it using pure css so it would look the same in all browsers and now it does. Below is the css code and the skin code that I used if anyone else is having this issue.
*/
.GridViewStyle
{   
    border-right: 2px solid #A7A6AA;
    border-bottom: 2px solid #A7A6AA;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 4px;
}

.GridViewStyle a
{
    color: #FFFFFF;
}

.GridViewHeaderStyle th
{
    border-left: 1px solid #EBE9ED;
    border-right: 1px solid #EBE9ED;
}

.GridViewHeaderStyle
{
    background-color: #5D7B9D;
    font-weight: bold;
    color: White;
}

.GridViewFooterStyle
{
    background-color: #5D7B9D;
    font-weight: bold;
    color: White;
}

.GridViewRowStyle
{
    background-color: #F7F6F3;
    color: #333333;
}

.GridViewAlternatingRowStyle
{
    background-color: #FFFFFF;
    color: #284775;
}

.GridViewRowStyle td, .GridViewAlternatingRowStyle td
{
    border: 1px solid #EBE9ED;
}

.GridViewSelectedRowStyle
{
    background-color: #E2DED6;
    font-weight: bold;
    color: #333333;
}

.GridViewPagerStyle
{
    background-color: #284775;
    color: #FFFFFF;
}

.GridViewPagerStyle table /* to center the paging links*/
{
    margin: 0 auto 0 auto;
}
