﻿<%@ Page Language="C#"  AutoEventWireup="true" CodeFile="ads.aspx.cs" Inherits="users_ads" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Advertise View</title>
    <link rel="stylesheet" type="text/css" href="jquery.tzineClock/jquery.tzineClock.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="jquery.tzineClock/jquery.tzineClock.js"></script>
<script type="text/javascript" src="jquery.tzineClock/script.js"></script>
<script type="text/javascript">
    var c = 0;
    var t;
    var timer_is_on = 0;
   
    function timedCount() {
      
        if (c > 14) {
           
            document.getElementById('fancyClock').style.visibility = 'hidden';

            document.getElementById('Button1').style.visibility = 'visible';
        }
        c = c + 1;
        t = setTimeout("timedCount()", 800);
        
    }

    function doTimer() {
        if (!timer_is_on) {
            timer_is_on = 1;
            timedCount();
        }
    }
</script> 
 <link media="screen" rel="stylesheet" href="click.css" type="text/css" />
</head>
<body  onload="doTimer()">
    <form id="form1" runat="server">
    <div>
   
    <div id="cover" ></div>
<div id="dialog">

 <div id="fancyClock"></div>
  
 
<asp:Button ID="Button1" CssClass="button_click" runat="server" Text="Click here to verify" OnClick="c2e_show" Height="40px"/>

    <center>
    
   </center>
   <br />
   <iframe id="iframe1" runat="server" height="100%" width="100%"></iframe>

</div>
    </div>
    </form>
</body>
</html>
