﻿*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 30px;
}
.space
{
    padding-left: 5px;
    padding-right: 5px;
    visibility:hidden;
}
    .nav-user
{
	color: #FFFFFF;
	font-size: 1.1em;
	position: absolute;
	right: 0;
	top: 20px;
}
.nav-user a
{
	color: #FFFFFF;
}
.all-content{min-width:970px;overflow:hidden;}

.header {
    margin: 0 auto;
    min-height: 106px;
    position: relative;
    width: 970px;
    z-index: 2;
}
.header-wrap
{
    background: #262d64 url('images/bg-body.jpg') no-repeat scroll center -12px;
}
.button_click
{
    background: #000099 none repeat scroll 0 0;
    border-color: #C4DE8F #8DB836 #8DB836 #C4DE8F;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font: bold 14px Arial, Sans-serif;
    height: 40px;
    margin: 0;
    padding: 4px;
    text-align: center;
    visibility: hidden;
}
.button_click:hover
{
    background: #00FF00 none repeat scroll 0 0;
}

#cover {
left:0px;
top:0px;
width:100%;
height:100%;
background:gray;
filter:alpha(Opacity=80);
opacity:.8;
-moz-opacity:0.5;
-khtml-opacity:0.5
}
#dialog {
left:0px;
top:0px;
width:110%;
height:100%;
position:absolute;
z-index:100;
background:gray;
padding:2px;
font:10pt tahoma;
border:1px solid gray
}
.close {
    position: absolute;
    right: 5px;
    top: 0;
}
.textbox
{
	background-color: #FFFFFF;
	color: #000000;
}
#dialog .b
{
	
	}
	
		
		 .wrapper
{
    /* Wrapper to give some padding in the panels, without messing with existing panel width */
    padding: 100px 100px 100px 40%;
    line-height:50px;
    background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
	