﻿<%@ Page Language="C#" MasterPageFile="~/users/mst_user.master"AutoEventWireup="true" CodeFile="Externals.aspx.cs" Inherits="Externals" %>


<asp:Content ID="Content1" ContentPlaceHolderID="header1" Runat="Server">
<title>.:: Advertisement Links || EclickSense ::.</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphheader" Runat="Server">
View Advertisements
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphbody" Runat="Server">
<div class="wrapper"><!--
<p>We are at the middle stage of the up-gradation process for our final server review. For this reason, only this part of our website will be stopped for 2(two) days. After then, we will open earning solutions for you again as before, with better and faster usability. Thanks for being with us.</p>
                 -->
			<asp:Repeater ID="Repeater1" runat="server">
            
            <ItemTemplate>
                <table><tr><td>
               <h2><a href='ads.aspx?id=<%# DataBinder.Eval(Container.DataItem, "l_id") %>'><%# DataBinder.Eval(Container.DataItem, "link") %></a></h2>
                   </td></tr></table>
            </ItemTemplate>
            </asp:Repeater>

				</div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphright" Runat="Server">
<h2><br /> 
Click Count:<asp:Label ID="lblcount" runat="server" Text=""></asp:Label></h2>
   You can Open Multiple tabs but timer may be slow in that case.
</asp:Content>