﻿<%@ Page Language="C#" MasterPageFile="~/users/mst_user.master"AutoEventWireup="true" CodeFile="invitation.aspx.cs" Inherits="invitation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" Runat="Server">

 
 <script type="text/javascript">
     function postCook() {
         FB.api(
        '/me/ClickSourcer:earn?recipe=http://EclickSense',
        'post',
        function (response) {
            if (!response || response.error) {
                alert('Error occured');
            } else {
                alert('Cook was successful! Action ID: ' + response.id);
            }
        });
     }
  </script>
  

<title>.:: Invite Friends || EclickSense ::.</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphheader" Runat="Server">
Invite Your Friends
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphbody" Runat="Server">
 <fb:add-to-timeline></fb:add-to-timeline>

  <h3>Lifeforce Invitation</h3>
  <p>
    <img title="Lifeforcer" 
         src="images/post/lifeforcer2.jpg" alt="Lifeforcer"
         width="200"/>
  </p>
  <input type="button" value="Post to facebook" onclick="postCook()" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphright" Runat="Server">

</asp:Content>