﻿<%@ Page Language="C#" MasterPageFile="~/users/mst_user.master"AutoEventWireup="true" CodeFile="my_referrals.aspx.cs" Inherits="my_referrals" %>

<asp:Content ID="Content1" ContentPlaceHolderID="header1" Runat="Server">
<title>.:: My Referrals || EclickSense ::.</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphheader" Runat="Server">
My Sponsored Members
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="cphbody" Runat="Server">
<h2>
</h2>
<asp:Table ID="Table1" CssClass="centeralign" runat="server" Width="100%" >
    <asp:TableRow>
    <asp:TableCell HorizontalAlign="center" ColumnSpan="8">
        <asp:Image ID="Image1" runat="server" ImageUrl="images/green.jpg" /></asp:TableCell>
    </asp:TableRow>
    
    <asp:TableRow>
    <asp:TableCell HorizontalAlign="center" ColumnSpan="8">
        <asp:Label ID="lblroot" runat="server" Text=""></asp:Label>
    </asp:TableCell>
    </asp:TableRow>
    
    <asp:TableRow>
    <asp:TableCell HorizontalAlign="center" ColumnSpan="8">
        <asp:Image ID="Image2" runat="server" ImageUrl="images/arrow1.gif" />
    </asp:TableCell>
    </asp:TableRow>
    
    <asp:TableRow>
    <asp:TableCell ColumnSpan="4" HorizontalAlign="Center">
    
        <asp:ListBox ID="lstluserlist" runat="server" Width="70px" Height="150px" ></asp:ListBox></asp:TableCell>
    <asp:TableCell ColumnSpan="4" HorizontalAlign="Center">
    
        <asp:ListBox ID="lstruserlist" runat="server" Width="70px" Height="150px" ></asp:ListBox></asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
    <asp:TableCell ColumnSpan="4" HorizontalAlign="Center">
    
       <h2>Left user count:<asp:Label ID="lblluser" runat="server" Text=""></asp:Label></h2></asp:TableCell>
    <asp:TableCell ColumnSpan="4" HorizontalAlign="Center">
    
       <h2>Right user count: 
           <asp:Label ID="lblruser" runat="server" Text=""></asp:Label></h2></asp:TableCell>
    </asp:TableRow>
    </asp:Table>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphright" Runat="Server">

</asp:Content>